.maps {
    height: 500px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.maps .leaflet-container {
    height: 100%;
}

.info-container {
    width: 120px;
   
}


.info-flag {
    width: 120px;
    height: 80px;
    background-size: cover;
    border-radius: 5px;

}
.info-name {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 14px;
    margin-top: 5px;
}

.info-flag img{
    width: 100px;
    border-radius: 5px;
}

@media (max-width: 720px) {
    .maps {
        height: 350px;
        width: 85%;

    }

    .maps .leaflet-container {
        height: 100%;
    }
}