* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



body{
  background-color: #f5f6fa;
}

.App {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  /* width: calc(100% - 25%); */
 flex: 0.9;

}

.app_right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75%);
  /* padding: 20px; */
  margin-right: 30px;

}

.card1{
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 720px) {
  .App {
    flex-direction: column;
  }

  .app_right {
    display: flex;
    width: 100%;
    margin: 0px 20px;
  }
}